<!DOCTYPE html>
<html>
<head>
    <title>NMEA Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Including the Navbar-->
    {% include 'navbar.html' %} 
    <h1>NMEA Data</h1>
    <table>
        <thead>
            <tr>
                <th>Sentence Type</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item['type'] }}</td>
                    <td>{{ item['data'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
