<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>NMEA Data Parser</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optionally, include custom CSS for further styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Including the Navbar-->
    {% include 'navbar.html' %} 

    <h1>Welcome to the NMEA Data Parser</h1>
    <p>This is a placeholder for the web panel interface.</p>
</body>
</html>
