<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NMEA Data Parser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/configure">Configure Parsing Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sample_data">Sample NMEA Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/parsed_data">Parsed NMEA Data</a>
            </li>
            <!-- Add a new list item for the Power BI API configuration page -->
            <li class="nav-item">
                <a class="nav-link" href="/power_bi_config">Power BI API Configuration</a>
            </li>
        </ul>
    </div>
</nav>
